worker_processes  1;
events {
  worker_connections  1024;
}
http {
  include /etc/nginx/mime.types;
  gzip  on;
  gzip_http_version 1.1;
  gzip_comp_level 2;
  gzip_types text/plain text/css application/x-javascript text/xml application/xml application/xml+rss text/javascript;
  server {
    listen *:443;
    ssl on;
    server_name {{ semaphore.fqdn }};
    ssl_certificate /etc/nginx/server.crt;
    ssl_certificate_key /etc/nginx/server.key;
    location / {
      proxy_pass http://127.0.0.1:{{ semaphore.port }};
    }
  }
}
