[Unit]
Description=The Ansible Semaphore server
After=network.target

[Service]
Type=simple
User=ansible
Group=ansible
ExecStart=/bin/sh -c '{{ semaphore.src }} -config {{ semaphore.playbook_path }}/semaphore_config.json >> /var/log/semaphore/semaphore.log 2>&1'
KillSignal=SIGKILL
PrivateTmp=true

[Install]
WantedBy=multi-user.target
