{{ mysql.host }}:{{ mysql.port }}
{{ mysql.app.user }}
{{ mysql.app.password }}
{{ mysql.app.database }}
{{ semaphore.playbook_path }}
{{ semaphore.web_root }}
no
no
no
yes
{{ semaphore.admin_username }}
{{ semaphore.admin_email }}
{{ semaphore.admin_desc }}
{{ semaphore.admin_password }}
